<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body class="about-body">
        <%- include('./partials/nav.ejs') %>

        <div class="about-container">
            <h1>About This Project</h1>
            <p>
                This application is a simple question bank management tool designed to help users 
                <strong>add</strong>, <strong>view</strong>, <strong>update</strong>, and <strong>delete</strong> 
                multiple-choice questions categorized by topic.
            </p>
            <p>
                Whether you're preparing for interviews, competitive exams, or simply want to keep track of
                important questions, this tool streamlines the process in a clean and user-friendly interface.
            </p>

            <h2>Features:</h2>
            <ul>
                <li>View all topics with question counts</li>
                <li>See detailed questions with answer options</li>
                <li>Easily update or delete existing questions</li>
                <li>Add new questions </li>
            </ul>

            <h2>Tech Stack:</h2>
            <ul>
                <li>Node.js with Express.js</li>
                <li>MongoDB (Mongoose)</li>
                <li>EJS Templates</li>
                <li>HTML5 + CSS3</li>
            </ul>

        </div>
    </body>
</html>
